body {
  background-color: #e3fffb;
  font-family: monospace;
}

#container {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
  gap: 2rem;
  justify-items: center;
  margin: 2rem ;
}

#ribbonContainer {
  display: flex;
  gap: 0;

}

#ribbon {
  display: flex;
  margin: 0;
  padding: 0;
  height: 1.5rem;
  width: 3.5rem;
  background-color: white;
  position: relative;
  left: -1.5rem;
  top: -.5rem;
  font-size: 0.8rem;
  align-items: center;
  justify-content: center;
}

#triangle {
  position: relative;
  left: -1.5rem;
  top: -.5rem;
  margin: 0;
  padding: 0;
  height: 0.75rem;
  width: 0.75rem;
  background: linear-gradient(45deg, white 50%, #abe5f7 0%);
}

#triangle:first-of-type {
  background: linear-gradient(135deg, white 50%, #abe5f7 0%);
}

#triangle:last-of-type {
  position: relative;
  left: -5.25rem;
  height: .5rem;
  background: linear-gradient(45deg, #e3fffb 60%, #229c86 0%);
}

.sample {
  margin-top: -2.3rem;
}

.button {
  color: rgba(0, 0, 0, .5);
  font-size: 6rem;
}

#buttonCard {
  opacity: 50%;
  border: 1px dotted black;
  transition: all .6s ease-in-out;
  box-shadow: 10px 10px gray;
}

.error {
  box-sizing: border-box;
  height: 15rem;
  width: 12rem;
  border-radius: 5%;
  background-color: rgb(211, 12, 12);
  padding: 1rem;
  font-size: 1.25rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: .5rem;
  opacity: 50%;
  border: 1px dotted black;
  transition: all .6s ease-in-out;
}

#buttonCard:hover {
  cursor: pointer;
}

#buttonCard:active {
  background-color: wheat;
  transform: scale(0.6);
}

.card {
  box-sizing: border-box;
  height: 15rem;
  width: 12rem;
  border-radius: 5%;
  color: #229c86;
  background-color: #abe5f7;
  padding: 1rem;
  font-size: 1.25rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: .5rem;
  box-shadow: 10px 10px gray;
  text-transform: capitalize;
}

.newCard {
  box-sizing: border-box;
  height: 15rem;
  width: 12rem;
  border-radius: 5%;
  color: #229c86;
  background-color: #abe5f7;
  padding: 1rem;
  font-size: 1.25rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: .5rem;
  opacity: 90%;
  border: 3px dotted gray;
  box-shadow: 25px 30px gray;
  position: relative;
  top: -30px;
  left: -10px;
}

.title {
  font-size: 1.75rem;
}

.cardContent {
  opacity: 70%;
}

.cardActions {
  padding-top: 5%;
  display:inline-flex;
  justify-content: space-around;
  align-items: baseline;
  margin-bottom: -5%;
}

.fa-eye {
  opacity: 50%;
  color: lightslategray;
}

.watched {
  opacity: 100%;
  scale: 1.1;
  color: black;
}

.fa-check {
  color: green;
  opacity: 50%;
}

.fa-x {
  color: red;
  opacity: 50%;
}

.fa-eye:hover, .fa-check:hover, .fa-x:hover, .sampleEye {
  opacity: 100%;
  transform: scale(1.1);
  cursor: pointer;
}

input, textarea {
  border: 2px dotted gray;
  background-color: #abe5f7;
  text-align: center;
  border-radius: 5px;
}

textarea:nth-child(2), input {
  font-size: 1.25rem;
}

.fa-star {
  color: gold;
  text-shadow: 3px 3px red;
}

footer {
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  color: #229c86;
  background-color: #abe5f7;
  justify-content: center;
  font-size: 1rem;
}

a {
  text-decoration: none;
  text-decoration-color: none;
}